.{
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    border: 2px solid black;
    background-color: blanchedalmond;
    max-width: 900px;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border: 2px solid black;
}

.col{
    flex: 1 1 150px;
    padding: 10px;
    border: 2px solid black;
}

.flex-col{
    margin: 10px;
    border: 1px solid black;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
}

.flex-row{
    border: 1px solid black;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
}

