@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --dark-red: #80002f; 
    --pink: #80005c;
    --dark-blue: #000016;
    --navy: #000080; 
    --white: #ffffff
}

*{
    font-family: 'poppins' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

header{
    background-color: var(--pink);
    position: sticky;
    top: 0;
    padding: 1rem 1.5rem;
}

.header-content{
    margin: auto;
    display: flex;
    max-width: 1100px;
    justify-content: space-between;
}

.logo{
    color: var(--dark-blue);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    display: block;
}

.navigation a{
    color: var(--dark-blue);
    font-size: 1.1rem;
    font-weight: 200;
    margin: 0 5px;
}

.navigation a:hover{
    color: var(--navy);
}

main{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    max-width: 1000px;
    margin: auto;
}

.main{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-image: url(/img/laundry7.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    align-items: center;
}

.main > div{
    padding: 1rem;
}

.main h2{
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
}

.main span{
    display: inline-block;
    color: var(--pink);
    font-size: 2.5rem;
    font-weight: 500;
}

.main h1{
    color: var(--navy);
}

.main-btn{
    color: var(--white);
    background-color: var(--pink);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    display: flex;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    transition: 0.7s ease;
    justify-content: center;
}

.main-btn:hover{
    background-color: var(--pink);
    transform: scale(0.5.0.5);
}

.social-icons a {
    color: var(--navy);
    font-size: 1.8rem;
    margin-inline-start: 8px;
}

.title{
    padding: 12px;
    text-align: center;
    color: var(--pink);
    font-size: 2rem;
    margin: 1rem 0 2rem;
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.cards{
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 12px;
}

.card{
    background-color: var(--dark-blue);
    color: var(--white);
    width: 300px;
    padding: 15px;
    border-radius: 5px;
    transition: 0.5s ease;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

}

.card:hover{
    transform: scale(1.1);
}

.card .icon{
    color: var(--pink);
    font-size: 3em;
}

.card-info h3{
    color: var(--white);
}

.details-section{
    background-color: var(--pink);
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.details-section > div{
    max-width: 500px;
}



.details-card{
    background-color: var(--navy);
    border: 2px solid var(--navy);
    min-height: 160px;
    width: 400px;
    border-radius: 10px;
    transition: 0.5s ease;
}

.details-card:hover{
    transform: scale(1.1);
    opacity: 1;
}

.details-card-img img{
    width: 100%;
    max-height: 300px;
    border-radius: 10px;
}

.details-card-info{
    padding: 1.8rem;
}

.details-title{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 8px;
}

#contact{
    padding: 2rem 0;
}

.footer{
    background-color: var(--pink);
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    color: white;
}

.footer-title{
    font-size: 1rem;
    font-weight: 500;
}

.footer-title span{
    color: var(--light-blue);
}

@media (max-width: 1000px){
    .main{
        padding-left: 50px;
    }
    header{
        padding: 0.5rem 1.5rem;
    }
    .details-card{
        width: 200px;
    }
}
